/* Conatins general button, text,... desing of website */

:root{
  --bg-dark: #1a1c21;
  --bg-light: #282a2e;
  --text-light: #b9bab6;
}

button{
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--bg-dark);
    text-align: center;
    text-decoration: none;
    font-size:20px;
    cursor: pointer;
}

button:hover{
  background-color: var(--bg-light);
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}
.details{
    width: 45vh;
}

.tag_input{
    width: 100%;
}

.tag_input_div {
  position: relative; /* 👈 anchor for dropdown */
  width: 100%;
}

.suggestion_box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 0px;
  padding: 0px;
  list-style: none;
  background: var(--bg-dark);
  box-shadow: 0 8px 20px black;
  z-index: 1000;
}

.tag_suggestion {
  width: 100%;
  padding: 10px 14px;

  background: none;
  border: none;
  text-align: left;

  font-size: 14px;
  cursor: pointer;
}

.tag_suggestion:hover,
.tag_suggestion:focus {
  background-color: var(--bg-light);
  outline: none;
}