

/* Contains general the Layout and background colors of the Page */

.myBody{
    margin: 0;
    display: grid;  
    background-color: #007491;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
}


.ControlPannel{
    /* color */
    background-color: #00b2a3;
    /* positioning */
    min-height: 100vh;
    overflow:hidden;
    grid-area: 1 / 1;
    /* layout inside */
    display: flex;
    padding-left: min(1vh, 1vw);
    padding-right: min(1vh, 1vw);
    gap: min(1vh, 1vw);
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;

}

.userInfo{
    margin-top: auto;
}

.content-grid{
    display: grid;
    grid-area: 1 / 2;
}


.content{
    padding: min(1vh, 1vw);
    gap: min(1vh, 1vw);
}

.settings{
    align-content: start;
}



.popup_wrapper{
margin: 0;
padding: 0;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
display: grid;
place-items: center;
}
.popup{
position: fixed;
width: fit-content;
height: fit-content;
background-color: #00b2a3;
display: flex;
flex-direction: column;
align-items: stretch;
z-index: 1000;
gap: 1rem;
padding: 3px;
}

.popup_headline{
    margin: 0;
    padding: 0;
}

.popup_body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* Stack the Login button, Cancel button, and status text */
.popup_footline {
display: flex;
flex-direction: row;
justify-content: space-between; /* Pushes Cancel to left, Confirm to right */
align-items: center;            /* Keeps buttons aligned vertically */
width: 100%;
}

.empty{
    display: none;
}

/* Gallery */
.images{
    display: flex;
    flex-wrap: wrap;
    gap: min(1vh, 1vw);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imgPrevBox{
    background-color: #00b2a3;
    border:3px solid #00b2a3;
    width: max(15vw, 20vh);
    height: max(15vw, 20vh);
    cursor: pointer;
}

.imgPreview{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.pagination{
    display: flex;
    justify-content: center;
}

.pagination td {
    width: 100px;
    border: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.suggestion_tag{
    cursor: pointer;
}

.suggestion_tag:hover{
    background-color: #007491;
}


@media (max-width: 768px){


.myBody{
    margin: 0;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #007491;
}


.ControlPannel{

    background-color: #00b2a3;
    grid-area: 1 / 2;

    position: fixed;
    top: 75vh;
    bottom: 0;
    left: 0;
    width: 100vw;


    display: flex;
    padding-top: min(1vh, 1vw);
    padding-left: min(1vh, 1vw);
    padding-right: min(1vh, 1vw);
    gap: min(1vh, 1vw);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;

}

.content-grid{
    grid-area: 1 / 2;
    padding-bottom: 25vh;
}

}























.clickable_headline {
    color: #007491;
    text-decoration: none;
    font-size: 42px;
    cursor: pointer;
}
